*{
    box-sizing: border-box;
    
}

body{
    
    margin: 0;
    background-color: black;
}

.container-geral{
    background-color: rgb(235, 233, 233);
    width: 80%;
    margin: auto;
    border-radius: 40px;
    
}
.container-foto{
    height: 450px;
    position: relative;
    
    
    
}

#nome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
}

#foto{
    border-radius: 10%;
    box-shadow: 8px 4px 10px black;
    float: left;
    margin-left: 55px;
    
    
    
}

.descricao{
    line-height: 40px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 0px 5px 20px black;    
    position: absolute;
    left: 500px;
    top: 15%;
    
    
    
}


h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}





.container-habilidades{
    background-color: #242c44;
    padding: 20px;
    color: white;
    
}

.container-habilidades h2{
    text-align: center;
    margin-right: 40px;
}
.habilidades{
    
    text-align: left;
    width: 300px;
    margin: auto;
    
}

ul, ol{
    
    line-height: 25px;
    font-size: 20px;
}

#ha{
    line-height: 40px;
    list-style: none;
}

.redes-c{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


.redes{
    display: flex;
    justify-content: center;
    
    
    
}
.redes a{
    padding-right: 20px;
}

.redes a:hover{
    font-size: 25px;
    background-color: #e4e4e4;
    border-radius: 5px;
}



.icone{
    width: 20px;
    margin-right: 10px;

}

.footer{
    background-color: #818181;
    padding: 20px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    list-style: none;
    
  
}

.footer a{
    
    text-decoration: none;
    
}


